<div class="games-list">
  <% case @sort %>
  <% when "rank_asc" %>
    <h2>Games by Popularity Asc</h2>
  <% when "rank_desc" %>
    <h2>Games by Popularity Desc</h2>
  <% when "name_asc" %>
    <h2>Games Alphabetically Asc</h2>
  <% when "name_desc" %>
    <h2>Games Alphabetically Desc</h2>
  <% end %>
</div>

<div class="order-by">
  <%= form_for(games_path, method: :get) do |f| %>
    <div class="order-div">
      <%= f.label :sort_by %>
      <%= select_tag(:sort_by, options_for_select([['Popularity Asc', 1], ['Popularity Desc', 2], ['Alphabetically Asc', 3], ['Alphabetically Desc', 4]])) %>
    </div>
    <div class="order-div">
      <%= f.submit "Go", id: "order-button" %>
    </div>
  <% end %>
</div>

<div class="index-header">
</div>

<div class="games-list">
  <% @games.each do |game| %>
    <div class="game-item">
      <%= link_to image_tag(game.img_url, class: "img-thumb"), game %>
      <div class="game-text">
        <h3><%= link_to game.name, game %></h3>
        <p class="players rank">Ranked #<%= game.popularity %> in popularity</p>
        <span class="players"><%= game.min_players %> to <%= game.max_players %> players</span>
        <p><%= truncate(game.view_description, length: 150) %><%= link_to 'see more', game %> </p>
        <table>
          <tr>
            <th colspan="<%= game.categories.length %>">Categories:</th>
          </tr>
          <tr>
            <% game.categories.each do |category| %>
              <td><%= link_to category.name, category %></td>
            <% end %>
          </tr>
        </table>
      </div>
    </div>
  <% end %>
</div>

