<h1>Fantastic Games</h1>

<%= button_to 'View all Categories' %>

<% @games.each do |game| %>
  <h3><%= link_to game.name, game %></h3>
  <%= image_tag game.img_url, class: "img-thumb" %>
  <p><%= game.min_players %> to <%= game.max_players %> players</p>
  <p><%= truncate(game.description, length: 150) %><%= link_to 'see more', game %> </p>
<% end %>
