
<section class="game">
  <h2><%= @game.name %></h2>
  <%= image_tag @game.img_url, class: "img-show" %>
  <ul class="game-details">
    <li>Duration: <%= @game.duration %> </li>
    <li>Players: <%= @game.min_players %> to <%= @game.max_players %></li>
    <li>Rank: <%= @game.popularity %> </li>
  </ul>
  <div class="description">
    <%= @game.view_description %>
  </div>
</section>

