<% if current_user && !current_user.games.include?(@game) %>
  <%= button_to 'Add this game to your library', libraries_path(game_id: @game.id) %>
<% end %>

<section class="game">
  <%= image_tag @game.img_url, class: "img-show" %>
  <h2><%= @game.name %></h2>
  <div class="description">
    <%= @game.view_description %>
  </div>
  <ul class="game-details">
    <li>Average duration: <%= @game.view_duration %> </li>
    <li>Players: <%= @game.min_players %> to <%= @game.max_players %> </li>
    <li>Top 50 rank: <%= @game.popularity %> </li>
  </ul>
</section>

<section class="comments">
  <%= render partial: 'comments/new' %>
</section>

