
<section class="game">
  <%= image_tag @game.img_url, class: "img-show" %>
  <h2><%= @game.name %></h2>
  <div class="description">
    <%= @game.view_description %>
  </div>
  <ul class="game-details">
    <li>Average duration: <%= @game.view_duration %> </li>
    <li>Players: <%= @game.min_players %> to <%= @game.max_players %> </li>
    <li>Top 50 rank: <%= @game.popularity %> </li>
  </ul>
</section>

