<!DOCTYPE html>
<html>
<head>
  <title>FantasticGameApp</title>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application", media: "all" %>
</head>
<body>
<header>
  <div id="nav">
    <%= link_to 'FANTASTIC GAMES', games_path, class: "title" %>
    <% if !logged_in? %>
      <%= link_to "Register", new_user_path %>
      <%= link_to "log in", new_session_path %>
    <% else %>
      <%= link_to "Welcome " + current_user.username, current_user %>
      <%= link_to "Friends (#{!current_user.friend_requests.empty? ? current_user.friend_requests.count : 0 } pending)", friendships_path %>
      <%= link_to "log out", "/logout", method: :delete %>
    <% end %>
  </div>
</header>
<div class="sidebar">
  <%= render "categories/index"  %>
</div>

<% if flash[:error_object] %>
  <section class="errors">
    <% flash[:error_object].errors.full_messages.each do |error| %>
      <%= flash[:error_object].class %>: <%= error %><br>
    <% end %>
  </section>
<% end %>

<% if flash[:error] %>
  <section class="errors">
    <%= flash[:error] %>
  </section>
<% end %>

<% if flash[:alert] %>
  <section class="alert">
    <%= flash[:alert] %>
  </section>
<% end %>

<main>
<%= yield %>
</main>

</body>
</html>
